<div>
  <label for='description'></label>
</div>
<div>
  <input data-ng-model="newTodoModel.description" type='text' name='description' />
</div>
<div>
  <button data-ng-click="addTodo()">Add Todo</button>
</div>
<div>
  <button data-ng-click="backToList()">Cancel</button>
</div>
